@media screen and (min-width: 720px) {

    .login-form {
        width: 296px;
        height: 279px;
    }

    .login-form-control {
        margin: 10px auto;
    }

    .login-btn {
        margin: 30px auto !important;
    }
}