.cart-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 635px;
    max-width: 1024px;
    padding: 25px 10px;

}

.cart-delivery-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.cart-items-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-items-head>h2 {
    text-transform: capitalize;
    font-weight: 700;
    margin: 0;
}

.cart-items-head span {
    font-weight: 600;
}


.cart-container hr {
    margin: 15px 0;
    background-color: rgb(79, 79, 79);
    opacity: .25;
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-no-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    text-align: center;
}

.cart-btn {
    display: block;
    width: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: #fc742c;
    transition: 1s color ease-in-out;
}

.cart-no-items a:hover {
    background-color: #FF7E38;


}

.card-payment {
    border-radius: 10px;
    padding: 20px 15px;
    color: #fff;
    background-color: rgb(18, 102, 241);
}

.card-payment-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-btn {
    display: flex;
    justify-content: end;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF7E38;
    color: white;
}

.payment-btn svg {
    width: 30px;
    height: 25px;
}

.payment-btn:hover {
    background-color: #fc742c;
}

.payment-btn:disabled {
    cursor: not-allowed;
    color: red;
}

.payment-btn div {
    display: flex;
    align-items: center;
    gap: 5px;
}


.payment-hr {
    background-color: rgb(79, 79, 79);
    opacity: .25;
    border: none;
}



.paypal-container>div>div:nth-child(even) {
    display: none !important;
    border: 1px solid red;
    margin-top: 2.5rem;
}

.card-payment-subtotal,
.card-payment-shipping,
.card-payment-total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.card-payment-types {
    display: flex;
    gap: 15px;

}

.empty_cart_gif {
    aspect-ratio: 1;
    width: 300px;
    margin: 0 auto;
}

@media screen and (min-width: 720px) {
    .cart-container {
        width: 100%;
        margin: auto;

    }

    .cart-direction-container {

        flex-direction: row;
    }

    .cart-items {
        flex: 1;
    }

    .card-payment {
        width: 350px;
        max-height: 400px;
    }
}