.profile {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    background-color: #f4f6f8;
    border-radius: 5px;
}

.profile-data-info {
    max-width: 800px;
    border-radius: 5px;

}

.profile-details-container {
    padding: 15px;
}

.profile-details-data {
    padding: 16px 0 4px 0;
    border-bottom: 1px solid #ededed
}

.profile-details-data h6 {
    font-weight: 600;
}

.profile-details-data div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}



.profile-details-data div span {
    display: inline-block;
}


.profile-details-img img {
    display: block;
    width: 200px;
    border-radius: 50%;
    margin: auto;

}

.profile-menu-container {
    display: none;
}

@media screen and (min-width: 720px) {
    .profile {
        font-size: 1.2rem;

    }

    .profile-details-container {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .profile-menu-container {
        display: block;
        width: 500px;
    }

    .profile-data-info {
        width: 800px;
        background-color: white;
    }
}