.order-item {
    transition: 1.5s hover ease-in-out;

}

.order-item:hover {
    background-color: rgba(0, 173, 181, .1);
}


.order-item td span {
    padding: 5px 10px;
    background-color: #fedfdf;
    border-radius: 15px;
    color: red;
    font-weight: 600;
}

.order-item td:last-child {
    text-align: center;
}