.product-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .40);
}

.product-card-body {
    /* border: 1px solid red; */
}

.product-card-btn {
    padding: 0 8px;
    background-color: rgb(255, 224, 0);
    border-radius: 5px;
    color: black;
    border-color: none;
    outline: none;
    cursor: pointer;
}





.product-card-desc {
    margin-bottom: 0;
}

.product-card-footer {
    display: flex;
    justify-content: space-between;
}

.product-card-footer button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.product-card-head {
    display: flex;
    align-items: center;
    /* background-color: rgba(211, 211, 211, .3); */
    margin-right: 5px;
}

.product-card-head img {}

.product-card-img {
    width: 129px;
    height: 130px;
    object-fit: cover;
}

.product-card-price {
    font-weight: 700;
    margin: 0;
}

.product-stock {
    margin: 5px 0;
}

.product-stock-message.few {
    color: #B12704;
}

.product-stock-message.many {
    color: green;

}

.product-title {
    text-transform: capitalize;
}

@media screen and (min-width: 720px) {
    .product-card {
        flex-direction: column;
        max-width: 300px;
        height: 400px;

    }


    .product-card-img {
        width: 250px;
        height: 200px;
    }
}