/*----------------reset-----------------*/
.profile-menu * {
    margin: 0;
    padding: 0;
}

.profile-menu {
    position: relative;
    background-color: white;
    width: 300px;
    padding: 0px 25px;
    border-radius: 5px;
    display: none;
}

.profile-menu nav {
    position: sticky;
    top: 120px;
}

.profile-menu-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px auto;
    padding: 5px 10px;
    /* border-bottom: 1px solid #ededed; */
    transition: color .33s ease-in-out;
}

.profile-menu-link.active {
    color: #FF7E38;
    text-decoration: underline;

}

.profile-menu-link:hover {
    color: #FF7E38;

}



@media screen and (min-width: 720px) {
    .profile-menu {
        display: block;
        font-size: 1.2rem;
    }
}