.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding: 4px 24px;
    background-color: rgba(34, 40, 49, 1);
}

.header-cart-link {
    position: relative;
    display: flex;
}

.header-cart-number-item {
    position: absolute;
    width: 100%;
    top: -15px;
    right: -15px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FF7E38;
}

.header-hamburger-menu-container {
    /* border: 1px solid red; */
}

.header-hamburger-menu {
    margin-right: 10px;
    cursor: pointer;
    /* border: 1px solid red; */
}

.header-left {
    display: flex;
    align-items: center;

}

.header-login-btn {
    color: white;
    display: flex;
    align-items: center;
}

.header-login-l2,
.header-login-l1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-login-l2 {
    position: relative;
    cursor: pointer;
}

.header-login-l2 img {
    width: 25px;
    border-radius: 50%;
}


.header-logo-container {
    /* border: 1px solid red; */
}



.header-logo-img,
.header-letters-img {
    height: 50px;
}

.header-letters-img {
    display: none;
}

.header-profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 50px;
    color: white;
}

.header-user-menu {

    border: 1px solid red;
    position: absolute;
    top: 30px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 170px;
    max-height: 270px;
    border-radius: 5px;
    border: solid 1px #ededed;
    background: white;
    visibility: hidden;
    transition: .5s ease-in-out;
    overflow: hidden;
    height: 0px;

}

.header-user-menu.active {
    visibility: visible;
    min-height: 230px;

}

.header-user-menu a {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 8px 24px;
    border-bottom: 1px solid #ededed;
    white-space: nowrap;
    transition: .3s color ease-in-out;
    color: rgb(119, 119, 119);
}

.header-user-menu a:hover {
    color: rgb(0, 173, 181);
}

.header-user-menu a .icon-user-menu {
    margin-right: 16px;
}

.header-user-name {
    color: rgb(119, 119, 119);
    text-transform: capitalize;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(119, 119, 119, .2);
}


@media screen and (min-width: 720px) {
    .header-letters-img {
        display: inline;
    }
}