.nav_main {
    background-color: rgba(34, 40, 49, 1);
    color: white;
}

.navbar {
    position: relative;
    font-size: 12px;

}

.nav_logobar {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid #232f3e;
}

.nav_left {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-flow: row nowrap;
}

.nav_hamburger_menu {
    padding: 10px 10px;
}

.nav_hamburger_menu>a {
    cursor: pointer;
}

.nav_logo {
    position: relative;

}

.nav_logo_base {
    padding: 10px 40px 0 20px;
}

.nav_right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.nav_cart {
    padding-right: 18px;

}

.nav_user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_user_greeting {
    font-weight: 700;
}

.nav_user_link {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .nav_main {
        padding: 5px;
    }

    .nav_right {
        gap: 30px;
    }
}