.order_modal {
    width: 70%;
    margin: auto 2.875rem;
}

.order_details-close_btn {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.order_details-container {
    display: none;
    visibility: hidden;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    transition: .5s visibility ease-in-out;
}

.order_details-container.active {
    display: flex;
    visibility: visible;
}

.order_details-right {
    display: flex;
    justify-content: end;
    margin: 10px 10px 0 0;
}