body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.min-h {
  min-height: 100vh;
}

.products-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;

}

.h-270 {
  height: 270px;
}

.main {
  height: 700px;
}

@media screen and (min-width: 720px) {

  .products-card-container {
    flex-direction: row;


  }
}