.orders-container {
    min-height: 550px;
    display: flex;
    margin: 15px auto;
}

.orders {
    width: 100%;
    padding: 12px;
    background-color: #fafafa;
}

.orders-head {
    background-color: white;
}

.orders-left {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
}

.orders-left h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.orders-left small {
    font-weight: 500;
    color: #616364;
    /* color: #acb0b4; */
}

.orders-filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orders-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.orders-search {
    width: 100%;
    margin: 15px auto;
}

.orders-search input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

.order-select {
    color: #7e7c7c;
    font-weight: 500;
}

.orders_items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 9px;
    min-height: 450px;
}



.orders-pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px auto;
}

.orders-pagination button {
    padding: 5px 10px;
    font-weight: 500;
    border: 1px solid #dddddd;
    background-color: transparent;
    transition: .5s background ease-in-out;

}

.orders-pagination button:hover {
    background: #2d67ec;
    color: white;
}


@media screen and (min-width: 720px) {
    .orders-filters-container {
        flex-direction: row;
    }

    .orders-search {
        width: 100%;
        margin: 15px auto;
    }

    .orders-search input {
        width: 60%;
    }


}